:root{ /* elemento raiz */
    cor1: #595454;
    cor2:#261717 ;
    cor3:#262001;
    cor4:#403C01 ;
    cor5:#BFBCBA;
    cor6: white;
}

*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    /* adiciona a imagem de fundo */
    background-color: aliceblue;
    background-image: url(imagens/mesa.avif);

    /* especifica o tamanho da imagem de fundo */

    background-size: cover;
    background-attachment: fixed;

}

main,
section{/* torna a página responsivel */

    max-width: 400px;
    min-width: 250px;

    background-color: #2617176b;
    margin: 30px 5px; 
    padding: 5px 0px  5px 5px;

    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px rgba(53, 48, 42, 0.204);
}

h1{/* modificação do título */
    color: aliceblue;
    padding: 5px;
    text-shadow: 2px 1px 1px rgba(53, 48, 42, 0.204);
    text-align: center;
}

input{
    margin: 0 5px 5px;
    text-align: center;
    
}
input:hover{
    border: 2px solid #403C01;

}

p {
    text-align: center;
}

button{
    color: #262001;
    margin-top: 5px;
    padding: 0 5px;

    cursor: pointer;

    
}

thead th{

    color: aliceblue;
    padding-bottom: 5px;
    text-shadow: 2px 1px 1px rgba(53, 48, 42, 0.204);
    text-align: center;

    border-bottom: 2px solid black;
}

table{
    width: 100%;

    border-collapse: collapse;
    
}

table td{
    border-bottom:1px solid rgba(0, 0, 0, 0.123) ;/* cria uma linha em baixo da tabela */
}

tbody{
    text-align: center;
    color: #262001;
}

footer{ /* formataçao do rodape, cor e tamanho */
    background-color: #261717bc ;
    color: #F2EBDC;
    padding: 2px;
    
    
    
   

    
    text-align: center;
    font-style: italic;

    font-size: 9px;

    
    box-shadow: 1px 1px 2px 2px #1617176c;
}


footer a{ /* cor do link e retirada da linha */
    color: #8e8d77;
    font-weight: bolder;
    text-decoration: none;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

footer a:hover{/* adiçao da linha com formato de onda no link ao ser tocado */
    
    text-decoration: underline;
    text-decoration-style:wavy ;
    
}
