:root{ /* elemento raiz */
    cor1: #2B308C;
    cor2:#4465A6 ;
    cor3:#141640;
    cor4:#F294D1 ;
    cor5:#65BFBF;
    cor6: white;
}

*{ /* zera  */
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body{ /* cor de fundo */
    
    background-color: #2B308C;
    
    
}

h1{ /* título cor e font */
    text-align: center;
    color: white;
    padding-bottom: 10px;

    text-shadow: 2px 2px 1px #141640;
    
}

h2{ /* 2° titulo */
    margin-bottom:15px ;
    color: #141640;
}
main{ /* torna a página responsivel */

    min-width: 300px;
    max-width: 600px;
    text-align: center;
    margin: 9% auto;

    padding: 30px 5px;

    border-radius: 5px;/* borda arredondada */
    box-shadow: 1px 1px 2px 2px #1617176c;

    background-color: #65BFBF;
}

form{ /* espaçamento ta tabela e segundo titulo */
    margin-bottom: 15px;
    padding: 10px;

   
    text-align: center;
    
    
}

input{
border-color: #141640;
background-color: #141640ba;
box-shadow: 1px 1px 2px 1px #08091c3f;
padding: 0 30px ;
text-align: center;
border-radius: 5px;

}

input:hover{
    border: 2px solid aliceblue;
    border-radius: 5px;

    
}

button{
    background-color: #4465A6;
    color: aliceblue;
    

    padding: 0 5px;
    border-radius: 5px;

    cursor: pointer;
}

button:hover{
    border: 2px solid aliceblue;
    background-color:#5b87de;
}




::placeholder{
    color: rgba(240, 248, 255, 0.458);
    opacity: 1;
}

table{/* FAZ A TABELA ficar centralizadda */
    width: 100%;
    
    border-collapse: collapse;
    box-shadow: 1px 1px 2px 1px #08091c3f;

}
table th{
    background-color: #4465A6;
    color: aliceblue;
}

table,td,
th{/* faz a borda da tabela */
    border: 1px solid #4465A6;
    text-align: justify;
    padding: 5px;

    
}

tr:hover{ /* faz com que ao passar o mouse na tabela, mude de cor */
    background-color: #5b87de;
    color: aliceblue;
}


footer{ /* formataçao do rodape, cor e tamanho */
    background-color: #141640;
    color: #F2EBDC;
    padding: 2px;
    

    min-width: 300px;
    max-width:  600px;

    margin: 50px  auto ;

    text-align: center;
    font-style: italic;

    font-size: 13px;

    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #1617176c;
}


footer a{ /* cor do link e retirada da linha */
    color: #F294D1;
    font-weight: bolder;
    text-decoration: none;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

footer a:hover{/* adiçao da linha com formato de onda no link ao ser tocado */
    
    text-decoration: underline;
    text-decoration-style:wavy ;
    
}